.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  margin: 80px 0 60px;
  width: 172px;
  height: 23px;
}

.posts {
  list-style: none;

  li {

    & + li {
      margin-top: 50px;
    }
  }

}
